extends _layout.pug

block body
  h1 Yeah, bitch!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit aperiam, quasi, facilis aspernatur minima tempora vitae illum labore delectus magnam repellat ad impedit optio voluptatem, nam quam sequi, atque at.